a.active {
    text-decoration: underline;
}

body {
    color: #454545;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

header {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #454545;
    color: #F2F2F2;
    font-size: 32px;
    padding-top: 18px;
    padding-left: 18px;
    padding-bottom: 18px;
    padding-right: 18px;
}

.nav {
    overflow: hidden;
}

.nav a {
    color: #F2F2F2;
    text-align: center;
    text-decoration: none;
    font-size: 32px
}

.nav a.active {
    text-decoration: underline;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 81px;
    text-align: center;
}

h3 {
    font-size: 24px;
}