a.active {
    text-decoration: underline;
}

body {
    color: #454545;
    font-family: Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
    background-color: #454545;
    color: #F2F2F2;
    font-size: 32px;
}

li {
    color: #F2F2F2;
}

h2 {
    font-size: 81px;
    text-align: center;
}

h3 {
    font-size: 24px;
}